@media (max-width: 1200px) {
    #root .navbar-nav {
        flex-direction: revert;
    }

    .declaration {
        width: 650px;
    }

    .pop-up-extra {
        overflow-y: scroll !important;
        padding: 0 !important;
        width: calc(100% - 50px) !important;
    }

    .card-header {
        overflow: initial;
    }

    .inscription input {
        margin-top: 10px;
    }

    .inscription .react-select {
        margin-top: 10px;
    }

    .inscription .form-check {
        margin-top: 10px;
        margin-left: -4px !important;
    }
}

@media (max-width: 600px) {
    .declaration {
        width: 100%;
        border-radius: 30px;
    }

    .flag {
        margin-right: 0;
    }

    .css-h2cmlr {
        display: none;
    }
}

@media (min-width: 992px) {
    .sidebar-mini .sidebar {
        width: 80px;
        display: block;
        font-weight: 200;
        z-index: 3;
        position: fixed;
    }
}